.NDIformat{
  height: 40px;
  width: 250px;
  background: #d3d3d3;
}

.select_NDIformat{
  font-family: Arial;
  background-color: #4CAF50;
  color: #E3E3E3;
  border-color: transparent transparent transparent;
}

#format{
  position: absolute;
  margin-left: 50%;
}

#resolution{
  height: 25px;
  width: 100px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 7.5px;
}
#framerate{
  height: 25px;
  width: 45px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 7.5px;
}
#formatype{
  height: 25px;
  width: 35px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 7.5px;
}

.slider {
  -webkit-appearance: none;
  margin-left: -250px;
  width: 250px;
  height: 5px;
  background: #E3E3E3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

#camerasettings{
  visibility: hidden;
  position: relative;
}

.camerasettings_val{
  visibility: visible;
  margin-left: 0px;
}

#show_control{
  background-color: #4CAF50;
  border: none;
  color: #E3E3E3;
  width: 250px;
  height: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#box {
  height: 100px;
  width: 100px;
  margin-left: -175px;
  border-style: solid;
  border-color: #4CAF50
}
